---
import Layout from '../layouts/Layout.astro';
import { getLangFromUrl, useTranslations } from '../i18n/utils';
import { getCollection } from 'astro:content';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const allPosts = await getCollection('blog');
const langPosts = allPosts.filter((post) => post.id.startsWith(`${lang}`));
---

<Layout title='Welcome to my site'>
	{
		langPosts.map((post) => (
			<a href={`/${lang}/blog/${post.slug.slice(3)}`}>{post.data.title}</a>
		))
	}
	<h2>{t('title')}</h2>
</Layout>
